<div class="container-fluid">
    <app-header-component></app-header-component>
  
    <!-- Fondo oscuro -->
<div class="cart-overlay" *ngIf="mostrarCarrito" (click)="toggleCart()"></div>
<button (click)="toggleCart()" class="btn-cart">
  🛒 Carrito
</button>

<div class="cart-sidebar-wrapper" *ngIf="mostrarCarrito || animating">
  <div
    class="cart-sidebar"
    [@slideInOut]="mostrarCarrito ? 'in' : 'out'"
    (@slideInOut.done)="onAnimationDone($event)"
  >
    <app-cart (cerrarCarrito)="toggleCart()"></app-cart>
  </div>
</div>


  
    <app-main></app-main>
    <app-product-list></app-product-list>
    <router-outlet></router-outlet>
  </div>