<div class="container mt-4">
  <!-- <ngb-carousel  [interval]="5000"
  [pauseOnHover]="true"
  (slide)="onSlideChange($event)"
  *ngIf="products && products.length">
    <ng-template ngbSlide *ngFor="let product of products; let i = index">
      <div class="picsum-img-wrapper text-center">
        <img [src]="product.image" [alt]="product.name" class="img-fluid rounded">
      </div>
    </ng-template>
  </ngb-carousel>
-->
    <ngb-carousel *ngIf="productosAgrupados.length > 0">
      <ng-template ngbSlide *ngFor="let grupo of productosAgrupados">
        <div class="row">
          <div class="col-md-3" *ngFor="let producto of grupo">
            <div class="card mb-3">
              <img [src]="producto.imagen" class="card-img-top" [alt]="producto.nombre">
              <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text"><strong>Precio: ${{ producto.precio }}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

  <div class="container mt-5 text-center">
      
  </div>
  
      
        
        
</div>

