/* src/styles.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2, h3 {
    color: #333;
  }
  button:hover {
    background-color: #ff4b39;
    filter: brightness(1.15);
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.carousel-indicators {
  display: none !important;
}